{% extends 'store/base.html' %}

{% load register_filters %}

{% block content %}

<h3>Registration Form</h3><br/>

<form method="post" action="{% url 'store:register' %}" class="form-group" style="text-align: center;" novalidate="novalidate">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group col-xs-4 col-xs-offset-4">
            {% for error in field.errors %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                </ul>
            {% endfor %}
            {{ field|addcss:'form-control' }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success  col-xs-2 col-xs-offset-5" value="register" name="register">Register</button>
</form>

{% endblock %}
